node_modules/
dist/
coverage/
.env
.env.*
.DS_Store
.vscode/
/.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/.parcel-cache/
/.cache/
*.local
*.log
public/build/
/.turbo/
/.next/
/.vercel/
.env.test
/*.tgz